.div-container{
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }
  
  .box{
    border: 1px solid black;
    flex:1;
  }
  .bg-color {
  background-color: green;
    
  }
  .bg-purpule{
  color: purple;
    
  }